h1{
    text-align: center;
    color:white;
}
p{
    text-align: center;
    color:white;
}
body{
    background-image:url(spaceman.jpg);
    background-size:cover;
}
.transperent{
    height:250px;
    width:400px;
    background-color: grey;
    opacity:0.5;
    margin:6px;
 position:relative;

    
}
.transperent h1{
    margin-top: 150px;
    
}
.transperentu{
    height:250px;
    width:400px;
    background-color: grey;
    opacity:0.5;
    margin:6px;
}
.transperenti{
    height:250px;
    width:400px;
    background-color: grey;
    opacity:0.5;
    margin:6px;

}
.transperentt{
    height:250px;
    width:400px;
    background-color: grey;
    opacity:0.5;
    margin:6px;
}
.centerop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerbp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.transperentu h1{
    margin-top:150px;

}
.transperentt h1{
    margin-top:150px;
    
}
.transperenti h1{
    margin-top:150px;
}